{% extends 'base.html' %}
{% load static %}
{% block title %}Accumulator{% endblock %}
{% block scripts %}
<script src="{% static "js/accumulator.js" %}"></script>
<style>
  body { height: 890px; }
</style>
{% endblock %}
{% block content %}
<div class="ui equal width grid" style="margin: 10px;">
  <div class="column">
    <table class="ui single line table">
      <thead>
        <tr>
          <th>Overview</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Current</td><td><span id="current-total">0.00 A</span></td></tr>
        <tr><td>Voltage</td><td><span id="voltage-total">0.00 V</span></td></tr>
        <tr><td>Min Cell Voltage</td><td><span id="current-total">0.00 A</span></td></tr>
        <tr><td>Max Cell Voltage</td><td><span id="current-total">0.00 V</span></td></tr>
        <tr><td>Target Voltage</td><td><span id="current-total">0.00 V</span></td></tr>
      </tbody>
    </table>
    <table class="ui single line table">
      <thead>
        <tr>
          <th>Status Variables</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Air Negative</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
        <tr><td>Air Positive</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
        <tr><td>Motorcontroller</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
        <tr><td>Connector</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
        <tr><td>Pre-Charge</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
        <tr><td>Discharge</td><td><span id=""><div class="ui red horizontal label">On</div></span></td></tr>
      </tbody>
    </table>
    <table class="ui single line table">
      <thead>
        <tr>
          <th>Thresholds</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
       <tbody>
        <tr>
          <td>Voltage</td>
          <td><span id=""><div class="ui yellow horizontal label">3.5 V</div></span></td>
          <td><span id=""><div class="ui red horizontal label">3.2 V</div></span></td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td><span id=""><div class="ui yellow horizontal label">50 °C</div></span></td>
          <td><span id=""><div class="ui red horizontal label">60 °C</div></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui single line table">
      <thead>
      <tr>
        <th>S0-P0</th>
        <th width=40%></th>
        <th width=40%></th>
      </tr>
    </thead>
    <tbody>
<tr><td>C0</td><td><span id="voltage-1">0.00 V</span></td><td><span id="temperature-1">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-2">0.00 V</span></td><td><span id="temperature-2">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-3">0.00 V</span></td><td><span id="temperature-3">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-4">0.00 V</span></td><td><span id="temperature-4">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-5">0.00 V</span></td><td><span id="temperature-5">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-6">0.00 V</span></td><td><span id="temperature-6">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-7">0.00 V</span></td><td><span id="temperature-7">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-8">0.00 V</span></td><td><span id="temperature-8">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-9">0.00 V</span></td><td><span id="temperature-9">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-10">0.00 V</span></td><td><span id="temperature-10">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-11">0.00 V</span></td><td><span id="temperature-11">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-12">0.00 V</span></td><td><span id="temperature-12">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S0-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-13">0.00 V</span></td><td><span id="temperature-13">0.00 °C</span></td></tr>
<tr class="warning"><td>C1</td><td><span id="voltage-14">0.00 V</span></td><td><span id="temperature-14">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-15">0.00 V</span></td><td><span id="temperature-15">0.00 °C</span></td></tr>
<tr class="negative"><td>C3</td><td><span id="voltage-16">0.00 V</span></td><td><span id="temperature-16">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-17">0.00 V</span></td><td><span id="temperature-17">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-18">0.00 V</span></td><td><span id="temperature-18">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-19">0.00 V</span></td><td><span id="temperature-19">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-20">0.00 V</span></td><td><span id="temperature-20">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-21">0.00 V</span></td><td><span id="temperature-21">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-22">0.00 V</span></td><td><span id="temperature-22">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-23">0.00 V</span></td><td><span id="temperature-23">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-24">0.00 V</span></td><td><span id="temperature-24">0.00 °C</span></td></tr>
  </tbody>
  </table>
 
  </div>
  <div class="column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S1-P0</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-25">0.00 V</span></td><td><span id="temperature-25">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-26">0.00 V</span></td><td><span id="temperature-26">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-27">0.00 V</span></td><td><span id="temperature-27">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-28">0.00 V</span></td><td><span id="temperature-28">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-29">0.00 V</span></td><td><span id="temperature-29">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-30">0.00 V</span></td><td><span id="temperature-30">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-31">0.00 V</span></td><td><span id="temperature-31">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-32">0.00 V</span></td><td><span id="temperature-32">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-33">0.00 V</span></td><td><span id="temperature-33">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-34">0.00 V</span></td><td><span id="temperature-34">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-35">0.00 V</span></td><td><span id="temperature-35">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-36">0.00 V</span></td><td><span id="temperature-36">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S1-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-37">0.00 V</span></td><td><span id="temperature-37">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-38">0.00 V</span></td><td><span id="temperature-38">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-39">0.00 V</span></td><td><span id="temperature-39">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-40">0.00 V</span></td><td><span id="temperature-40">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-41">0.00 V</span></td><td><span id="temperature-41">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-42">0.00 V</span></td><td><span id="temperature-42">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-43">0.00 V</span></td><td><span id="temperature-43">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-44">0.00 V</span></td><td><span id="temperature-44">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-45">0.00 V</span></td><td><span id="temperature-45">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-46">0.00 V</span></td><td><span id="temperature-46">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-47">0.00 V</span></td><td><span id="temperature-47">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-48">0.00 V</span></td><td><span id="temperature-48">0.00 °C</span></td></tr>
  </tbody>
  </table>
 
  </div>
  <div class="column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S2-P0</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-49">0.00 V</span></td><td><span id="temperature-49">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-50">0.00 V</span></td><td><span id="temperature-50">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-51">0.00 V</span></td><td><span id="temperature-51">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-52">0.00 V</span></td><td><span id="temperature-52">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-53">0.00 V</span></td><td><span id="temperature-53">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-54">0.00 V</span></td><td><span id="temperature-54">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-55">0.00 V</span></td><td><span id="temperature-55">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-56">0.00 V</span></td><td><span id="temperature-56">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-57">0.00 V</span></td><td><span id="temperature-57">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-58">0.00 V</span></td><td><span id="temperature-58">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-59">0.00 V</span></td><td><span id="temperature-59">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-60">0.00 V</span></td><td><span id="temperature-60">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S2-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-61">0.00 V</span></td><td><span id="temperature-61">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-62">0.00 V</span></td><td><span id="temperature-62">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-63">0.00 V</span></td><td><span id="temperature-63">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-64">0.00 V</span></td><td><span id="temperature-64">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-65">0.00 V</span></td><td><span id="temperature-65">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-66">0.00 V</span></td><td><span id="temperature-66">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-67">0.00 V</span></td><td><span id="temperature-67">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-68">0.00 V</span></td><td><span id="temperature-68">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-69">0.00 V</span></td><td><span id="temperature-69">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-70">0.00 V</span></td><td><span id="temperature-70">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-71">0.00 V</span></td><td><span id="temperature-71">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-72">0.00 V</span></td><td><span id="temperature-72">0.00 °C</span></td></tr>
  </tbody>
  </table>
 
  </div>
  <div class="column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S3-P0</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-73">0.00 V</span></td><td><span id="temperature-73">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-74">0.00 V</span></td><td><span id="temperature-74">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-75">0.00 V</span></td><td><span id="temperature-75">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-76">0.00 V</span></td><td><span id="temperature-76">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-77">0.00 V</span></td><td><span id="temperature-77">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-78">0.00 V</span></td><td><span id="temperature-78">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-79">0.00 V</span></td><td><span id="temperature-79">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-80">0.00 V</span></td><td><span id="temperature-80">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-81">0.00 V</span></td><td><span id="temperature-81">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-82">0.00 V</span></td><td><span id="temperature-82">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-83">0.00 V</span></td><td><span id="temperature-83">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-84">0.00 V</span></td><td><span id="temperature-84">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S3-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-85">0.00 V</span></td><td><span id="temperature-85">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-86">0.00 V</span></td><td><span id="temperature-86">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-87">0.00 V</span></td><td><span id="temperature-87">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-88">0.00 V</span></td><td><span id="temperature-88">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-89">0.00 V</span></td><td><span id="temperature-89">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-90">0.00 V</span></td><td><span id="temperature-90">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-91">0.00 V</span></td><td><span id="temperature-91">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-92">0.00 V</span></td><td><span id="temperature-92">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-93">0.00 V</span></td><td><span id="temperature-93">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-94">0.00 V</span></td><td><span id="temperature-94">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-95">0.00 V</span></td><td><span id="temperature-95">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-96">0.00 V</span></td><td><span id="temperature-96">0.00 °C</span></td></tr>
  </tbody>
  </table>
 
  </div>
  <div class="column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S4-P0</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-97">0.00 V</span></td><td><span id="temperature-97">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-98">0.00 V</span></td><td><span id="temperature-98">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-99">0.00 V</span></td><td><span id="temperature-99">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-100">0.00 V</span></td><td><span id="temperature-100">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-101">0.00 V</span></td><td><span id="temperature-101">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-102">0.00 V</span></td><td><span id="temperature-102">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-103">0.00 V</span></td><td><span id="temperature-103">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-104">0.00 V</span></td><td><span id="temperature-104">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-105">0.00 V</span></td><td><span id="temperature-105">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-106">0.00 V</span></td><td><span id="temperature-106">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-107">0.00 V</span></td><td><span id="temperature-107">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-108">0.00 V</span></td><td><span id="temperature-108">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S4-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-109">0.00 V</span></td><td><span id="temperature-109">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-110">0.00 V</span></td><td><span id="temperature-110">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-111">0.00 V</span></td><td><span id="temperature-111">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-112">0.00 V</span></td><td><span id="temperature-112">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-113">0.00 V</span></td><td><span id="temperature-113">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-114">0.00 V</span></td><td><span id="temperature-114">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-115">0.00 V</span></td><td><span id="temperature-115">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-116">0.00 V</span></td><td><span id="temperature-116">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-117">0.00 V</span></td><td><span id="temperature-117">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-118">0.00 V</span></td><td><span id="temperature-118">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-119">0.00 V</span></td><td><span id="temperature-119">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-120">0.00 V</span></td><td><span id="temperature-120">0.00 °C</span></td></tr>
  </tbody>
  </table>
 
  </div>
  <div class="column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S5-P0</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-121">0.00 V</span></td><td><span id="temperature-121">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-122">0.00 V</span></td><td><span id="temperature-122">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-123">0.00 V</span></td><td><span id="temperature-123">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-124">0.00 V</span></td><td><span id="temperature-124">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-125">0.00 V</span></td><td><span id="temperature-125">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-126">0.00 V</span></td><td><span id="temperature-126">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-127">0.00 V</span></td><td><span id="temperature-127">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-128">0.00 V</span></td><td><span id="temperature-128">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-129">0.00 V</span></td><td><span id="temperature-129">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-130">0.00 V</span></td><td><span id="temperature-130">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-131">0.00 V</span></td><td><span id="temperature-131">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-132">0.00 V</span></td><td><span id="temperature-132">0.00 °C</span></td></tr>
  </tbody>
  </table>
    <table class="ui single line table">
  <thead>
    <tr>
      <th>S5-P1</th>
      <th width=40%></th>
      <th width=40%></th>
    </tr>
  </thead>
  <tbody>
 
<tr><td>C0</td><td><span id="voltage-133">0.00 V</span></td><td><span id="temperature-133">0.00 °C</span></td></tr>
<tr><td>C1</td><td><span id="voltage-134">0.00 V</span></td><td><span id="temperature-134">0.00 °C</span></td></tr>
<tr><td>C2</td><td><span id="voltage-135">0.00 V</span></td><td><span id="temperature-135">0.00 °C</span></td></tr>
<tr><td>C3</td><td><span id="voltage-136">0.00 V</span></td><td><span id="temperature-136">0.00 °C</span></td></tr>
<tr><td>C4</td><td><span id="voltage-137">0.00 V</span></td><td><span id="temperature-137">0.00 °C</span></td></tr>
<tr><td>C5</td><td><span id="voltage-138">0.00 V</span></td><td><span id="temperature-138">0.00 °C</span></td></tr>
<tr><td>C6</td><td><span id="voltage-139">0.00 V</span></td><td><span id="temperature-139">0.00 °C</span></td></tr>
<tr><td>C7</td><td><span id="voltage-140">0.00 V</span></td><td><span id="temperature-140">0.00 °C</span></td></tr>
<tr><td>C8</td><td><span id="voltage-141">0.00 V</span></td><td><span id="temperature-141">0.00 °C</span></td></tr>
<tr><td>C9</td><td><span id="voltage-142">0.00 V</span></td><td><span id="temperature-142">0.00 °C</span></td></tr>
<tr><td>C10</td><td><span id="voltage-143">0.00 V</span></td><td><span id="temperature-143">0.00 °C</span></td></tr>
<tr><td>C11</td><td><span id="voltage-144">0.00 V</span></td><td><span id="temperature-144">0.00 °C</span></td></tr>


  </tbody>
  </table>
 
 </div>
</div>
</div>
</div>
{% endblock %}
