{% load static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} | Mission Control</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script src="{% static "js/canvas.js" %}"></script>
    <script src="{% static "js/banner.js" %}"></script>
    {% block scripts %}{% endblock %}
    <style>
      .grid td, .grid th { padding: 5px 6px 5px 6px !important; }
      .ui.action.input input[type="file"] {display: none;}
      @media only screen and (max-width: 767px) {
          a.item {
            font-size: 0px;
          }
          a.item i {
            font-size: 14px !important;
            margin: 0px 12px !important;
          }
        }
    </style>
</head>
<body style="background-color: #EEE;">
<div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item">
        Mission Control
      </div>
      <a href="/" class="item"><i class="dashboard icon"></i></i> Dashboard</a>
      <a href="/accumulator" class="item"><i class="battery half icon"></i> Accumulator</a>
      <a href="/track" class="item"><i class="stopwatch icon"></i> Track</a>
      <a href="/sensors" class="item"><i class="list icon"></i></i> Sensors</a>
      <div class="item">
        <div class="ui green label" style="margin-left: 0px; display: none;" id="status_connected">Connected</div>
        <div class="ui label" style="margin-left: 0px;" id="status_disconnected">OFFLINE</div>
      </div>
      <div class="item">
        <div class="ui black label" style="display: none" id="samples"> 0 samples/sec</div>
      </div>
      <a href="/logout" class="right item"><i class="sign out icon"></i> Sign Out</a>
    </div>
  </div>
</div>
{% block content %}{% endblock %}
</div>
{% block modals %}{% endblock %}
</body>
</html>
