{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block scripts %}
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
{% block content %}
<div class="ui container">
<div class="ui equal width grid" style="margin-top: 50px;">
  <div class="eleven wide column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th>Track</th>
    </tr>
  </thead>
  <tbody>
      <td>
      <canvas id="track" width="700" height="300" style="display: block; margin: 0px auto;">
      </canvas>
      </td>
 </tbody>
</table>
    <table class="ui single line table">
  <thead>
    <tr>
        <th>Laps</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
   </tr>
  </thead>
  <tbody id='lap_table'>
 </tbody>
</table>
  </div>
  <div class="five wide column">
    <table class="ui single line table">
  <thead>
    <tr>
      <th width=50%>Recording</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Status</td><td><span id='recording'></span></td></tr>
    <tr><td>Data</td><td><span id='total'>0</span> val/sec</td></tr>
  </tbody>
</table>
  
    <table class="ui single line table">
  <thead>
    <tr>
      <th width=50%>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Track</td><td><span id='track'>0</span></td></tr>
    <tr><td>Lateral</td><td><span id='lat'>0</span></td></tr>
    <tr><td>Longitudinal</td><td><span id='lon'>0</span></td></tr>
  </tbody>
</table>

    <table class="ui single line table">
  <thead>
    <tr>
      <th width=50%>Systems</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Accumulator</td><td><span id='accumulator'>0</span> val/sec</td></tr>
    <tr><td>Cooling</td><td><span id='cooling'>0</span> val/sec</td></tr>
    <tr><td>Data Logger</td><td><span id='datalogger'>0</span> val/sec</td></tr>
    <tr><td>dSpace</td><td><span id='dspace'>0</span> val/sec</td></tr>
    <tr><td>Energy Meter</td><td><span id='energy'>0</span> val/sec</td></tr>
    <tr><td>Junctions</td><td><span id='junctions'>0</span> val/sec</td></tr>
  </tbody>
</table>
<div class="ui right floated small primary labeled icon button" id="start"><i class="play icon"></i> Start Recording</div>
<div class="ui right floated small red labeled icon button" id="stop" style='display: none;'><i class="stop icon"></i> Stop Recording</div>

</div>
</div>
{% endblock %}
{% block modals %}
<div class="ui mini modal" id="modal_start">
    <i class="close icon"></i>
    <div class="header" id="part_name">
       	Start Recording
    </div>
    <div class="content">
        <div class="ui form">
	    <div class="field">
		<label>Driver</label>
		<div class="ui fluid search selection dropdown" id="drivers">
		    <input type="hidden" name="driver">
		    <i class="dropdown icon"></i>
		    <div class="default text"></div>
		    <div class="menu">
			<div class='item' data-value='Ísak'>Ísak</div>
			<div class='item' data-value='Máni'>Máni</div>
			<div class='item' data-value='Kristján'>Kristján</div>
			<div class='item' data-value='Þóra'>Þóra</div>
			<div class='item' data-value='Breki'>Breki</div>
			<div class='item' data-value='Davíð'>Davíð</div>
			<div class='item' data-value='Baldur'>Baldur</div>
			<div class='item' data-value='Ásbjörn'>Ásbjörn</div>
		    </div>
		</div>
	    </div>
	    <div class="field">
		<label>Track</label>
		<div class="ui fluid search selection dropdown" id="tracks">
		    <input type="hidden" name="track">
		    <i class="dropdown icon"></i>
		    <div class="default text"></div>
		    <div class="menu">
                        {% for t in tracks %}
			<div class='item' data-value='{{ t.id }}'>{{ t.name }}</div>
                        {% endfor %}
		    </div>
		</div>
	    </div>
            <div class="field">
                <label>Comment</label>
                <input type="text" name="comment">
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="submit" id="submit" class="ui primary icon button"><i class="play icon"></i> Start Recording</button>
    </div>
</div>
<div class="ui mini basic modal" id="modal_stop">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Stop Recording
  </div>
  <div class="content">
    <p>Are you sure you want to stop recording?</p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui red inverted button" id='stop_recording'>
      <i class="stop icon"></i>
      Stop Recording
    </div>
  </div>
</div>
{% endblock %}
