{% extends 'base.html' %}
{% load data_extras %}
{% block title %}Data{% endblock %}
{% block content %}
<div class="ui container" style="margin-top: 54px;">
<table class="ui striped table">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Track</th>
      <th>Comment</th>
      <th>Driver</th>
      <th>Duration</th>
      <th>Distance</th>
      <th>Size</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
    {% for e in entries %}
    <tr>
    <td>{{ e.id }}
    <td>{{ e.created_at}}</td>
    <td>{{ e.track.name }}</td>
    <td>{{ e.comment }}</td>
    <td>{{ e.driver }}</td>
    <td>{{ e.duration|delta }}</td>
    <td>{{ e.distance|floatformat:2 }} km</td>
    <td>{{ e.filesize|filesizeformat }}</td>
    <td style="padding: 5px;"><a class="ui right floated mini labeled icon button" id="edit" href="/csv_gogn/{{ e.filename }}"><i class="download icon"></i> CSV</a></td>
    </tr>
    {% endfor %}
 </tbody>
</table>
</div>
{% endblock %}
