{% load static %}
<!doctype html>
<html>
<head>
    <title>Login | Mission Control</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" class="ui" href='{% static "css/login.css"%}'>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <img src='{% static "img/spark.png" %}' class="image">
        <h1>Mission Control</h1><br/><br/>
        <form class="ui large form" method="post">
            {% csrf_token %}
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">Sign In</button>
            </div>
        </form>
        <p><a href='#'>GitHub</a> - Licenced under <a href='#'>MIT Licence</a></p>
        <p>Version 0.2.0</p>
    </div>
</div>
</body>
</html>
